{% extends 'bootstrap/base.html' %}

<!-- Link all style files here -->
{% block head %}
    {{  super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<!-- The title of our application is defined here -->
{% block title %}
    {% if title %}
        {{ title }} - Database Users
    {% else %}
        Load Database Users
    {% endif %}
{% endblock %}

<!-- This is the navbar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if student %}
                <a class="navbar-brand" href=" {{ url_for('index_student') }} ">Index Student</a>
            {% elif teacher %}
                <a class="navbar-brand" href=" {{ url_for('index_teacher') }} ">Index Teacher</a>
            {% else %}
                <a class="navbar-brand" href=" # ">Users</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if student %}
                        <li><a href=" {{ url_for('logout_student') }} ">Logout</a></li>
                    {% elif teacher %}
                        <li><a href=" {{ url_for('logout_teacher') }} ">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href=" {{ url_for('register_student') }} ">Register Student</a></li>
                    <li><a href=" {{ url_for('register_teacher') }} ">Register Teacher</a></li>
                    <li><a href=" {{ url_for('login_student') }} ">Login Student</a></li>
                    <li><a href=" {{ url_for('login_teacher') }} ">Login Teacher</a></li>
                {% endif %}
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Contents of all our pages will go here -->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="row">
                    <div class="col-sm12">
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        
        {% block app_context %}{% endblock %}
    </div>
{% endblock %}

<!-- All scripts will go here -->
{% block scripts %}
    {{  super() }}
    
{% endblock %}